/* NAVIGATION */

nav
{
    background: #000;
    display: flex;
    justify-content: space-around;
}
nav a
{
    color:#fff;
}
nav droite
{
  display: flex;
  justify-content: end;
}

nav span
{
    font-weight: bold;
}

/* HOME */

.jumbotron
{
    background: url(../image/home.jpg) no-repeat;
    background-size: cover;
    text-align: center;
}
.jumbotron h1
{
    text-transform: uppercase;
    color: #fff;
    font-size: 40px;
}
.jumbotron p
{
    color: rgb(216, 209, 201)
}
.jumbotron span
{
    text-transform: uppercase;
    font-weight: bold;
    color: #fff;
}
.jumbotron img
{
    margin-top: 20px;
}

/* WHO */

.who
{
    margin-top:60 px;
    text-align: center;
}
hr
{
    border-top: 1px solid #e74c3d;
    width: 160px;
    margin-top: 15px;
}
.who span
{
    color: #e74c3d;
}
.who p
{
    font-weight: bold;
    color: rgb(119, 99, 99);
}
.who h2
{
    font-weight: bold;
    color: #e74c3d;
    text-transform: uppercase;
}


/* GET INVOLVED */
.get
{
background: rgb(238, 214, 214);
text-align: center;
margin-top: 50px;
}
.get div
{
    background: rgb(238, 214, 214);
}
.get h2
{
    font-weight: bold;
    color: #e74c3d;
    text-transform: uppercase;
}
.get h3
{
    text-transform: uppercase;
    color: #e74c3d;
}
.test
{
    background: rgb(238, 214, 214);
    padding-bottom: 50px;
}


/* FOOTER */
footer
{
    margin-top: 40px;
    background: #e74c3d;
    padding: 70PX;
}

































/* Responsive Styling */

@media (max-width: 1199px) {

}

@media (max-width: 991px) {

}

@media (max-width: 767px) {

}
